<%= form_with(model: news) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
        <% news.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" placeholder="Le titre de ma journée...">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field" placeholder="Ma météo interne...">
    <%= form.label :mood %>
    <%= form.text_field :mood %>
  </div>

  <div class="field">
    <%= form.label :doing %>
    <%= form.text_area :doing placeholder="Ce que j'ai fait aujourd'hui..." %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_area :picture %>
  </div>

  <div class="action">
    <%= form.submit, label:"Créer"%>
  </div>
<% end %>
