<p id="notice"><%= notice %></p>

<h1>News</h1>

<div class="row row-cols-1 row-cols-md-12 g-12">
  <% @news.each do |news| %>
    <div class="col-12">
      <div class="title"> <%= news.title%></div>
      <div class="date">  <%= news.date %></div>
      <%= link_to 'Show', news %>
      <%= link_to 'Edit', edit_news_path(news) %>
      <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Tu es sûr(e) ?' } %>
    </div>
  <% end %>
</div>

<%= link_to 'New News', new_news_path %>
