<%= form_with(model: newday) do |form| %>
  <% if newday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newday.errors.count, "error") %> prohibited this newday from being saved:</h2>

      <ul>
        <% newday.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <%= form.label :date %>
    <%= form.date_field :date, as: :date, html5: true %>
  </div>

  <div class="field">
    <%= form.label :mood %>
    <%= form.text_field :mood %>
  </div>

  <div class="field">
    <%= form.label :actions %>
    <%= form.text_area :doing %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_area :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
