<p id="notice"><%= notice %></p>

<div class="back">
<h1 class="mytitle">Days on rails</h1>
<div class="text-center"><div class="btn green"> <%= link_to 'Nouvelle journée', new_newday_path %> </div></div>
</div>

<h2>Mes archives :</h2>

<div class="cols-1 cols-md-4 g-4 main">
  <% @newdays.each do |newday| %>
    <div class="col">
      <%= newday.title %>
      <%= newday.date %>
      <%= link_to 'Voir', newday %>
      <%= link_to 'Modifier', edit_newday_path(newday) %>
      <%= link_to 'Supprimer', newday, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
