<p id="notice"><%= notice %></p>

<div class="back">
<h1>Days on rails</h1>
<div class="text-center"><div class="btn green"> <%= link_to 'Nouvelle journée', new_newday_path %> </div></div>
</div>

<h2>Mes archives :</h2>


<table>
  <tbody>
    <% @newdays.each do |newday| %>
      <tr>
        <td><%= newday.title %></td>
        <td><%= newday.date %></td>
        <td><%= link_to 'Voir', newday %></td>
        <td><%= link_to 'Modifier', edit_newday_path(newday) %></td>
        <td><%= link_to 'Supprimer', newday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
